.home-container{
  height:max-content;
  /* margin-top: 5rem; */
  transform: translateY(8rem);
  gap: 4rem;
}
.main{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
/* Assigning Width to .home-data div */
.home-data{

    width: 22rem;
    
}

/* Hire button Functionality */

.hire-button {
    min-width: 150px;
    min-height: 30px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: rgba(34,87,122,1);
    background: linear-gradient(90deg, rgba(23,63,95,1) 0%, rgba(34,87,122,1) 100%);
    border: none;
    border-radius: 200px;
    box-shadow: 8px 8px 8px rgba(34,87,122,0.5);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-right: 1rem;
}
  
  .hire-button::before {
  content: '';
    border-radius: 200px;
    min-width: calc(150px + 12px);
    min-height: calc(30px + 14px);
    border: 6px solid rgba(34,87,122,1);
    box-shadow: 0 0 60px  rgba(23,63,95,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .hire-button:hover, 
  .hire-button:focus {
    color: white;
    transform: translateY(-6px);
  }
  
  .hire-button:hover::before, 
  .hire-button:focus::before {
    opacity: 1;
  }
  
  .hire-button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid rgba(34,87,122,0.9);
    position: absolute;
    z-index: -1;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .hire-button:hover::after, 
  .hire-button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 100px;
      opacity: 0;
    }
  }

.home-data-description{
    transform: translateY(-2rem);
}
.home-data-title{
    gap: 0.5rem;
    font-size: larger;
}
.home-social{
    overflow: hidden;
    width: 3rem;
}

.social-icons{
    display: grid;
    gap: 1rem;
    width: 2rem;
}
.home-subtitle{
    color: rgb(71 85 105);
    position: relative;
    font-size: 1.2rem;

}
.home-subtitle::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: rgb(71 85 105);
    top: 51%;
    left: -80px
}
.home-description{
  margin-left: 0.3rem;
}
.hand-img{
    height: 30px ; 
    width : 30px ;
    animation: shake 0.8s infinite;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}


.home-profile-img{
    background-image: url("/img/profile-img.jpg");
    background-size: cover;
    background-position: center;
    height: 20rem;
    width: 20rem;
    /* order: 1; */
    justify-self: center;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 40%);   
    animation: profille_img 8s ease-in-out infinite 1s;
}

@keyframes profille_img {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }        
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }     
    100%{                
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }    
}

.bx-mouse{
    font-size: 2.5rem;
  }
.scroll-arrow{
    font-size: 1.8rem;
  }
  .scroll-bth-handle{
      cursor: pointer;
      color: rgb(71 85 105);
  }
 
  .scroll-text{
    font-size:1.2rem;
}

/* Media queries for responsiveness */

@media screen and (max-width: 975px) {
  .main{
    width: 90%;
  }
  .home-profile-img{
    height: 15rem;
    width: 15rem;
  }
}

@media screen and (max-width: 800px) {
  .main {
       display: flex;
       width: 80%;
       /* background-color: antiquewhite; */
       /* width: 90%; */
       overflow:hidden;
       flex-direction: column-reverse;
       margin-left: 2rem;
       gap: 1rem;
   }
   
   .home-social{
    transform: translateY(-32rem);
    margin-right: 5rem;
   }
   .home-profile-img{
       margin-left: 5rem;
   }
   .home-data{
    margin-left: 4rem;
    display: inline-block !important;
   }

   .home-description{
    padding: 10px;
     /* background-color: aquamarine; */
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal; 
     font-size: 15px; /*Adjust font size for better readability */
    width: 100%; 
    margin-left: 0rem !important;
   }
   .bx-mouse,.scroll-arrow,.scroll-bth-handle{
     display: none;
   }
}

@media  screen and (max-width: 665px) {
    .home-data{
      display: inline-flex !important;
      margin: 0% !important;
    }

    .home-description{
        margin: 0% !important;
        margin-left: 3rem !important;
    }
    .main {
        display: flex;
        width: 90%;
        overflow:hidden;
        flex-direction: column-reverse;
        /* background-color: aqua; */
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        transform: translateY(-3rem);
    }
    .home-social{
        margin-right:18rem;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 575px) {
    .main{
        width: 85%;
        overflow: hidden;

        margin: auto;
        margin-top: 0rem;
    }
    
    .home-data-title{
        font-size: medium;
    }
    .home-social{
        font-size: small;
        
        margin-top: 3rem;
        margin-right: 13rem; 
    }

    .home-profile-img{
        height: 13rem;
        width: 13rem;
    }
    .home-subtitle::before{
        content: "";
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: rgb(71 85 105);
        top: 51%;
        left: -56px
    }
    
}
@media screen and (max-width: 455px) {
    .main{
        max-width: 80%;
        padding-right: 3rem !important;
        /* background-color: aqua; */
        overflow: hidden;
        /* margin-top: 0rem; */
    }
    .home-description{
        /* background-color: #a4f9c8; */
        margin-right: 2rem !important;
        padding: 20px;
        border-radius: 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal; 
        font-size: 14px; /* Adjust font size for better readability */
        /* width: 75%;  */
    }
    .home-data-title{
        font-size: small;
    }
    .home-social{
        margin-top: 4rem;
        margin-right: 13rem; 
         height: 8rem;
         gap: 0% !important;
    }
    .social-icons a i{
        font-size: 1rem;
        ;
    }

    .home-profile-img{
        margin-left: 2rem;
        height: 10rem;
        width: 10rem;
    }
    .home-subtitle::before{
        content: "";
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: rgb(71 85 105);
        top: 51%;
        left: -38px
    }   
    
}