.testimonials{
  margin-top: 5rem;
}
.testimonials-title{
  line-height: 1px;
  margin-bottom: 2rem;
}
.testimonials-subtitle{
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.testimonials-slider-container{
  width: 100%;
}
.testimonial-slider {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    gap: 1rem;
    /* margin-top: 6rem; */
}

.testimonial-card {
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
  }
  
  .testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .testimonial-feedback {
    font-style: italic;
    color: rgb(71 85 105);
    margin-bottom: 10px;
  }
  
  .testimonial-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .testimonial-arrow{
    font-size: 2.5rem;
  }
  .fixed-star-rating {
      display: flex;
    }
    
    .star {
      color: #ccc; /* Default color for inactive stars */
    }
    
    .star.active {
      color: #f7c948; /* Color for active stars */
    }

@media screen and ( max-width : 695px){
    .testimonial-slider {
        width: 460px;
    }
    
    .testimonial-card {
        width: 260px;
    }
    .bxs-star{
        font-size: 1.1rem;
    }
}
@media screen and ( max-width : 565px){
    .testimonial-slider {
        width: 365px;
        gap: 0.5rem;
    }
    .testimonial-card {
        width: 200px;
    }
}
@media screen and ( max-width : 465px){
    .testimonial-slider {
        width: 300px;
    }
    .testimonial-card {
        width: 142px;
        /* padding: 1rem; */
    }
    .testimonial-image {
        width: 80px;
        height: 80px;
    }
    .testimonial-name {
        font-size: 1.2rem;
    }
    .testimonial-feedback {
     font-size: 0.8rem;
    }
    .bxs-star{
        font-size: 1rem;
    }
}

