.testimonial-slider {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    gap: 1rem;
    /* background-color: #555; */
    margin-bottom: 5rem;
}

.testimonial-card {
    /* margin-bottom: 20px; */
    /* height: 40vh; */
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    /* background-color: #555; */
  }
  
  .testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .testimonial-feedback {
    /* font-size: 1.2rem; */
    font-style: italic;
    color: #555;
    margin-bottom: 10px;
  }
  
  .testimonial-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .testimonial-buttons button {
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .testimonial-buttons button:hover {
    background-color: #0056b3;
  }
  
  .testimonial-arrow{
    font-size: 2.5rem;
  }

@media screen and ( max-width : 695px){
    .testimonial-slider {
        width: 460px;
    }
    
    .testimonial-card {
        width: 260px;
    }
    .bxs-star{
        font-size: 1.1rem;
    }
}
@media screen and ( max-width : 565px){
    .testimonial-slider {
        width: 365px;
        gap: 0.5rem;
    }
    .testimonial-card {
        width: 200px;
    }
}
@media screen and ( max-width : 465px){
    .testimonial-slider {
        width: 300px;
    }
    .testimonial-card {
        width: 142px;
        /* padding: 1rem; */
    }
    .testimonial-image {
        width: 80px;
        height: 80px;
    }
    .testimonial-name {
        font-size: 1.2rem;
    }
    .testimonial-feedback {
     font-size: 0.8rem;
    }
    .bxs-star{
        font-size: 1rem;
    }
}

.fixed-star-rating {
    display: flex;
  }
  
  .star {
    color: #ccc; /* Default color for inactive stars */
  }
  
  .star.active {
    color: #f7c948; /* Color for active stars */
  }
    