
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    color:  rgb(71 85 105);
    border-bottom: 1px solid rgb(212, 205, 205);
    height: 10vh;
    background-color: rgb(240, 240, 240);
    /* background-color: rgb(248, 250, 253); */
    /* overflow: hidden; */
    width: 100%;
    z-index: 1000;
    position: fixed;
    /* position:fixed; */
}

.logo-section-lg{
    width: 10%;
    cursor: pointer;
}

.logo{
    height: 6vh;
    display:block;
    transform: translate(22px , -3px);
}
.navbar-lg{
    width: 50%; 
    padding: 2rem;
}
.nav-list-lg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1rem;
    font-weight: 550;
}

.nav-link{
    color: rgb(71 85 105);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-link:hover,.logo-text:hover{
    color: black;
}
.active{
    color: black;
}
.nav-icons,
.bx-menu,
.bx-x{
    display: none;
}
i{
    font-size: 1.4rem;
}


@media screen and (max-width: 765px) {
    .container{
        top: initial;
        bottom: 0;
        position: fixed;
        width:100%;
        height: 10vh;
        z-index: 1000;
    }
    .nav-icons{
        display: block;
    }
    .nav-link{
        font-size: 1rem;
    }
    .navbar{
         width: 100% !important;
         /* width: 100vw; */
        height: 33vh; 
        background-color: rgb(240, 240, 240);

        /* overflow: hidden; */
        padding: 0.5rem 1rem 1rem  1rem;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-top: 2px solid rgb(212, 205, 205);
        /* background-color: rgb(244 244 245); */
        /* background-color: aqua; */
        transition: all .3s ease-in;
        /* z-index: 1000;  */
    }
    /* .nav-list-lg{
        background-color: bisque;
        width: 100%;
    } */
    .close-navbar{
        height: 10vh !important;
        /* background-color: rgb(240, 240, 240); */
        /* z-index: 1000; */
        width: 100% !important;
        transition: all .1s linear;
    }
    .nav-close-icon{
        display: block;
        font-size: 1.5rem;
        text-align: right;
        padding-right:1rem ;
        
    }
    .gayab{
        display: none;
    }
    .nav-list{
        display: grid;
        grid-template-columns: repeat( 3, 1fr);
        gap: 1.8rem;
        padding: 0% 1rem 0% 1rem;
    }
    .logo-section{
        display: inline-flex;
        transition: all .3s;
    }
    .nav-menu-icon{
        display: block;
        font-size: 1.5rem;
        margin-right: 2rem;
    }
   
}

@media screen and (max-width:465px){

    .nav-link{
        font-size: 0.8rem;
        
    }       
    .navbar{
        height: 40vh;
        /* width: 100% !important; */
    }
    .logo-section-lg{
        margin-left:20px;
    }
    .logo{
        transform: translateX(25px) !important;
    }
}



@media screen and (max-width: 975px) {
    
    .navbar-lg{
        width:65%;
        
    }

    .nav-link{
        font-size: medium;
    }
.logo{
    transform: translateX(20px);
}

}
