.footer{
    margin-top: 6rem;
    color: rgb(71 85 105);
    gap: 1.1rem;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.flex-ow {
    display: flex; /* Aligns items horizontally */
    align-items: center; /* Aligns items vertically in the center */
    gap: 0; /* Removes default spacing between items */
  }
  
  .footer-logo {
    
    width: auto; /* Ensures the image maintains aspect ratio */
    height: 3rem; /* Adjust height to fit with text (customize as needed) */
  }
  
  .footer-logo-text {
    transform: translate(-30px , 5px);
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1; /* Ensure text and image align properly */
  }
  .footer-logo-text:hover {
    color: black;
  }
.footer-links{
    gap: 2rem;
}
.footer-nav-link{
    /* color: rgb(71 85 105); */
    font-size: 1.1rem;
    font-weight: 550;
    cursor: pointer;
}
.footer-social-links{
    gap: 2rem;
}
@media screen and ( max-width : 765px ){
    .footer{
        padding-bottom: 4rem;
    }   
    .footer-logo {
        /* font-size: 2rem; */
        height: 2.5rem;
    }
    .footer-logo-text {
        font-size:1.1rem ;
        transform: translate(-25px, 5px);
    }
}